<!DOCTYPE html>
<html lang="pt-BR" >
<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" type="image/png" href="./favicon.png" />
  <title>Vue Agenda v1.0</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900'>
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/@mdi/font@3.x/css/materialdesignicons.min.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Material+Icons'>
<link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/vuetify@2.0.5/dist/vuetify.min.css'>

</head>
<body>
<!-- partial:index.partial.html -->
<div id="app">
  <v-app id="inspire">
  <v-app dark>
            <v-content>
                <v-container>
                    <template>
            <v-card id="card1">
              <div class="headline text-xs-center pa-5">
               
                <form v-if="bottomNav == 'recent'">
                    <div class="titulo">
                        <v-icon size="80px" color="#CEE3F6" ligth >supervised_user_circle</v-icon>
                        <h1>Novo Contato</h1>
                        </div>
                  <v-text-field v-model="name" label="Name"></v-text-field>
                  <v-text-field v-model="telefone" label="telefone"></v-text-field>
                  <v-btn @click="submit">Cadastrar</v-btn>
                  <v-btn @click="clear">Limpar</v-btn>
                </form>
                <div  v-if="bottomNav == 'nearby'">
                <v-data-table
                v-model="selected"
                :headers="headers"
                :items="lista"
                class="elevation-1"
              >
                <template slot="items" slot-scope="props">

                <th>
          <v-checkbox v-model="selected" :value="props.item.nome" ></v-checkbox></th>

                  <td>{{ props.item.nome }}</td>
                  <td class="text-xs-right">{{ props.item.telefone }}</td>
                </template>
                    </v-data-table>
    </div>

    </div>
    <v-bottom-nav :active.sync="bottomNav" :value="true" absolute color="transparent">
        <v-btn color="teal" flat value="recent">
            <span>Novo</span>
            <v-icon>check_circle_outline</v-icon>
        </v-btn>
        <v-btn color="teal" flat value="nearby">
            <span>Lista</span>
            <v-icon>description</v-icon>
        </v-btn>
            <v-btn  color="red" @click="deletar" v-if="bottomNav == 'nearby'">
            <span>Excluir</span>
             <v-icon>delete</v-icon>
            </v-btn>
    </v-bottom-nav>
    </v-card>

    </template>
    </v-container>
    </v-content>
    </v-app>
  </v-app>
</div>
<!-- partial -->
  <script src='https://cdn.jsdelivr.net/npm/babel-polyfill/dist/polyfill.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js'></script>
<script src='https://cdn.jsdelivr.net/npm/vuetify@2.0.5/dist/vuetify.min.js'></script>
<script  src="./script.js"></script>

</body>
</html>
